body {
  background-image: url('/img/white_mosaic.png')
}

.container {
  width: 1200px;
  overflow: auto;
  margin-top: 20px;
}

aside {
  width: 300px;
  float: left;  
  margin: 0px 10px 0px 0px;
}

main {
  width: 800px; 
  float: left;
  overflow: auto;
}

footer {
  padding: 10px;
}

.groutPalette, .settings, .colorSwatch, .favorites {
  border: 1px solid black;
  background: rgba(240, 240, 240, 0.6);
  padding: 10px;
  margin: 0px 0px 10px 0px;
  overflow: auto;
}

.groutSample {
  width: 15px;
  height: 30px;
  margin: 1px;
  float: left;
  border: 3px solid rgba(255,255,255,0);
}

.groutSample:hover {
  border: 3px solid black;
}

.groutHeader {
  display: block;
  margin-bottom: 10px;
}

.mosaic, .texture {
  border: 1px solid black;
}
