canvas {
  border: 1px solid black;
}

input.color-input {
  width: 50px;
} 

#mosaic {
  float: left;
  margin: 0px 20px 20px 0px;
}

#controls {
  float: left;
}

#texture {
  clear: both;
  float: left;
  border: 1px solid black;
  margin-bottom: 20px;
}

#footer {
  clear: both;
}