canvas {
  border: 1px solid black;
  float: left;
  clear: right;
}

input.color-input {
  width: 50px;
} 

.groutsample {
  float: left;
  padding: 4px;
  margin: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(255, 255, 255);
}
.groutsample:hover {
  border: 2px solid black;
}

.slider {
  width: 200px;
}

#mosaic {
  float: left;
  margin: 0px 20px 20px 0px;
}

#mosaicSettings {
  padding: 10px;
  margin: 0px 10px 10px 0px;
  border: 1px solid black;
}

#leftSide {
  height: 800px;
  float: left;  
  margin: 0px 10px 10px 0px;
}

#rightSide {
  width: 600px;  
  float: left;
}

#groutDiv {
  width: 300px;
  height: auto;
  overflow: auto;
  border: 1px solid black;
  padding: 10px;
  margin: 0px 10px 10px 0px;
}

#groutHeader {
  clear: both;
  margin-bottom: 10px;
}

#texture {  
  float: left;
  border: 1px solid black;  
}

#footer {
  clear: both;
}